@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu thành công";
}
<div class="container py-5">
    <div class="alert alert-success">Mật khẩu của bạn đã được đặt lại thành công.</div>
    <a asp-page="./Login" class="btn btn-success">Đăng nhập</a>
</div>
